::-webkit-input-placeholder
  color $tertiary-text
  text-align center
::-moz-placeholder
  color $tertiary-text
  text-align center
:-ms-input-placeholder
  color $tertiary-text
  text-align center
:-moz-placeholder
  color $tertiary-text
  text-align center
