::-webkit-input-placeholder
  color $tertiary-text
::-moz-placeholder
  color $tertiary-text
:-ms-input-placeholder
  color $tertiary-text
:-moz-placeholder
  color $tertiary-text

//at-form
.at-input.has-success
  position relative
  span.fa
    position absolute
    right 15px
    top 50%
    transform translateY(-50%)
    color rgb(49, 138, 48)

.at-input.has-error
  span
    display block
    color rgb(185, 0, 0);
    margin-bottom 10px