<template name="AdminNav">
  <ul class="main-navigation__list">
    <li class="main-navigation__item main-navigation__item--students"><a class="main-navigation__link" href="{{pathFor 'students'}}">
      <div class="main-navigation__left">
        <svg>
          <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-students"></use>
        </svg>
      </div>
      <div class="main-navigation__right">
        <div class="main-navigation__title">Студенты</div>
        <div class="main-navigation__caption">Список всех студентов автошколы</div>
      </div></a></li>
    <li class="main-navigation__item main-navigation__item--instructors"><a class="main-navigation__link" href="{{pathFor 'instructors'}}">
      <div class="main-navigation__left">
        <svg>
          <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-instructors"></use>
        </svg>
      </div>
      <div class="main-navigation__right">
        <div class="main-navigation__title">Инструкторы</div>
        <div class="main-navigation__caption">Список всех инструкторов автошколы</div>
      </div></a>
    </li>
    <li class="main-navigation__item main-navigation__item--info"><a class="main-navigation__link" href="{{pathFor 'information'}}">
      <div class="main-navigation__left">
        <svg>
          <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-info"></use>
        </svg>
      </div>
      <div class="main-navigation__right">
        <div class="main-navigation__title">Информация</div>
        <div class="main-navigation__caption">Различная полезная информация</div>
      </div></a></li>
    <li class="main-navigation__item main-navigation__item--video"><a class="main-navigation__link" href="{{pathFor 'video'}}">
      <div class="main-navigation__left">
        <svg>
          <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-video"></use>
        </svg>
      </div>
      <div class="main-navigation__right">
        <div class="main-navigation__title">Видеоуроки</div>
        <div class="main-navigation__caption">Различные обучающие видеоролики</div>
      </div></a></li>
  </ul>
</template>