<template name="SideNav">
    <aside class="sidebar">
        <nav class="sidebar__navigation main-navigation">
            <ul class="main-navigation__list">
                <li class="main-navigation__item main-navigation__item--record"><a class="main-navigation__link" href="/index.html">
                    <div class="main-navigation__left">
                        <svg>
                            <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-record"></use>
                        </svg>
                    </div>
                    <div class="main-navigation__right">
                        <div class="main-navigation__title">Запись на вождение</div>
                        <div class="main-navigation__caption">Выбор автомобиля, запись на практические занятия</div>
                    </div></a></li>
                <li class="main-navigation__item main-navigation__item--pay"><a class="main-navigation__link" href="/pay.html">
                    <div class="main-navigation__left">
                        <svg>
                            <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-pay"></use>
                        </svg>
                    </div>
                    <div class="main-navigation__right">
                        <div class="main-navigation__title">Оплата on-line</div>
                        <div class="main-navigation__caption">Оплата заенятий, история платежей, направления на вождение</div>
                    </div></a></li>
                <li class="main-navigation__item main-navigation__item--lessons"><a class="main-navigation__link" href="/lessons.html">
                    <div class="main-navigation__left">
                        <svg>
                            <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-lessons"></use>
                        </svg>
                    </div>
                    <div class="main-navigation__right">
                        <div class="main-navigation__title">Мои занятия</div>
                        <div class="main-navigation__caption">История записей на занятия, отказ от записи</div>
                    </div></a></li>
                <li class="main-navigation__item main-navigation__item--info"><a class="main-navigation__link" href="/info.html">
                    <div class="main-navigation__left">
                        <svg>
                            <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-info"></use>
                        </svg>
                    </div>
                    <div class="main-navigation__right">
                        <div class="main-navigation__title">Информация</div>
                        <div class="main-navigation__caption">Различная полезная информация</div>
                    </div></a></li>
                <li class="main-navigation__item main-navigation__item--rating"><a class="main-navigation__link" href="/rating.html">
                    <div class="main-navigation__left">
                        <svg>
                            <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-rating"></use>
                        </svg>
                    </div>
                    <div class="main-navigation__right">
                        <div class="main-navigation__title">Рейтинг инструкторов</div>
                        <div class="main-navigation__caption">Рейтинги на основе отзывов учеников</div>
                    </div></a></li>
                <li class="main-navigation__item main-navigation__item--video"><a class="main-navigation__link" href="/video.html">
                    <div class="main-navigation__left">
                        <svg>
                            <use xlink:href="assets/sprites/svg-sprite.svg#svg-main-video"></use>
                        </svg>
                    </div>
                    <div class="main-navigation__right">
                        <div class="main-navigation__title">Видеоуроки</div>
                        <div class="main-navigation__caption">Различные обучающие видеоролики</div>
                    </div></a></li>
            </ul>
        </nav>
        <div class="sidebar__copy copyright"><span>&copy;&nbsp;</span><a class="copyright__link" href="#">Автошкола MAX</a></div>
    </aside>
</template>