.pay-page

  .ui-tabs
    padding 0

  .ui-tabs .ui-tabs-nav
    padding 0

  .ui-widget.ui-widget-content
    border none

  .ui-widget-content
    background none

  .ui-tabs .ui-tabs-panel
    padding 0

  .ui-widget-header
    border none
    background none

  .ui-tabs .ui-tabs-nav .ui-tabs-anchor
    padding 0

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
    border none
    background none
    outline none
    margin-right 25px

  .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button
    color $links-text
    border-bottom 1px dashed $links-text
    outline none

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
    color $table-headers
    outline none
    font-weight bold

  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
    color $table-headers
    border none
    outline none

  .ui-widget-content a
    color $primary-text

.pay-page__inner-tabs
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
    color $table-headers
    outline none
    font-weight normal