//--Colors
//Main
$white = #fff
$black = #000
//Background
$first-bg = #f3f3f3
$secong-bg = #16485a
$third-bg = #3a768b
$white-bg = $white
$table-bg = #eef6f8
$green-btn-bg = #86c400
//Text
$primary-text = $white
$secondary-text = #666666
$tertiary-text = $black
$copy-text = #eff3f4
$links-text = #007ece
$caption-text = #85acba
$table-headers = #333333
$status-text-accept = #008ac4
//Additional
$selected-color = #ffd200
//Inputs
$input-border = #d1d1d1

//--Fonts
//Size
$main-size = 16px
$main-font = $main-size "Roboto", Arial, sans-serif